<div id='login-form'>
  <h2 class='text-center'>Login</h2>

  <form class='login-form' action='/login' method='POST'>

    <div>
      <label for='email' class='mont'> Email</label>
      <input class='login-input' id='email' type='email' name='email' placeholder='rockstar@localgems.com' />
    </div>

    <div>
      <label for='password' class='mont'>Password</label>
      <input class='login-input' id='password' type='password' name='password' placeholder='********' />
    </div>
    <button class='mont' type='submit'>Login</button>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}
  </form>


</div>