<div id='singup-form '>

  <h2 class='text-center margin-top-150 mb-5'>Signup</h2>

  <form class='signup-form' action='/signup' method='POST'>

    <div class='mb-3'>
      <label for='username'></label>
      <input class='signup-input p-1' id='username' type='text' name='username' placeholder='Username' />
    </div>

    <div class='mb-3'>
      <label for='email'></label>
      <input class='signup-input p-1' id type='email' name='email' placeholder='Email' />
    </div>

    <div class='mb-3'>
      <label for='password'></label>
      <input class='signup-input p-1' id='password' type='password' name='password' placeholder='Password' />
    </div>

    <button class='mt-5' type='submit'>Create account</button>
    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}

  </form>
</div>