<div id='singup-form '>

  <h2 class='text-center margin-top-150'>Signup</h2>

  <form class='signup-form' action='/signup' method='POST'>

    <div>
      <label for='username'>Username</label>
      <input class='signup-input' id='username' type='text' name='username' placeholder='ironhacker' />
    </div>

    <div>
      <label for='email'>Email</label>
      <input class='signup-input' id type='email' name='email' placeholder='rockstar@ironhack.com' />
    </div>

    <div>
      <label for='password'> Password </label>
      <input class='signup-input' id='password' type='password' name='password' placeholder='********' />
    </div>

    <button class='mt-5' type='submit'>Create account</button>
    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}

  </form>
</div>