<div class='margin-top-150 gem-details-container'>
  <img class='img-fluid gem-details-img' id='gem-details-img' src='{{gem.imgUrl}}' alt='local gem' />
  <h3 class='fs-5 mt-3'>{{gem.venueName}}</h3>
  <h2 class='fs-5 mt-3'>{{gem.gemName}}</h2>
  <span class='fs-5 mt-3 fs-6'>"{{gem.description}}"</span>
</div>