<main>
  <div class='text-center heading-container margin-top-150'>
    <h1 class='home-heading pt-5'>Local Gems</h1>
    <p class='tagline'>Discover Local Gems Around You</p>
    <a class='heading-btn-link index-btn' href='/main'>Local Gems</a>
  </div>

  <h2 class='text-center'>How it works?</h2>

  <div class='cards-container mb-5'>
    <div class='welcome-container text-center'>
      <div class='icon-heading-container'>
        <i class='fa-solid fa-map-location-dot homepage-icon pt-4'></i>
        <h5 class='card-title text-center'>Welcome to LocalGems</h5>
      </div>
      <div>
        <p class='card-text icon-text text-center'>Your go-to platform for exploring the hidden treasures in your own city. </p>
      </div>
    </div>

    <div class='search-container text-center'>
      <div class='icon-heading-container'>
        <i class='fa-solid fa-magnifying-glass homepage-icon pt-4'></i>
        <h5 class='card-title text-center'>Search for Local Gems</h5>
      </div>
      <div>
        <p class='card-text icon-text text-center'>Upon launching the app, you'll land on a search bar where you can begin your exploration. Simply type in what you're interested
          in.</p>
      </div>
    </div>

    <div class='user-container text-center'>
      <div class='icon-heading-container'>
        <i class='fa-solid fa-users homepage-icon pt-4'></i>
        <h5 class='card-title text-center'>Add Your Own Local Gems</h5>
      </div>
      <p class='card-text icon-text text-center'>For users who sign up, LocalGems offers the ability to contribute their own discoveries to the platform. </p>
    </div>

  </div>

</main>