* {
  margin: 0;
  padding: 0;
}

.margin-top-150 {
  margin-top: 150px;
}

/* Layout Page */

body {
  position: relative;
  color: #0e1111;
}

#body.active {
  overflow: hidden;
}

#home-local > h1 {
  margin-top: 150px;
}

.logo {
  width: 100px;
  height: auto;
}

.main-submit-btn,
.create-btn {
  background: #333;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  /* position: relative;
  z-index: 1; */
  top: 0;
  position: fixed;
}

.nav-ul,
.main-input,
.select-container .select-input,
.create-form-container {
  padding: 25px;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  position: fixed;
  background: white;
  z-index: -5;
  right: 0px;
  left: 0px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 25px 25px 50px 25px;
}

.heading-btn-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 8px 15px;
  background: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
  margin-bottom: 50px;
  margin-top: 25px;
  display: inline-block;
}

/* .home-btn {
  text-decoration: none;
  background: #333;
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
} */

/* .heading-btn {
  border: none;
  background: initial;
  margin-bottom: 50px;
  margin-top: 25px;
} */

.nav-ul a {
  color: #ffffff;
  background-color: #333;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  text-decoration: none;
}

.nav-ul a:hover {
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
}

.local-gems-link {
  display: none;
}

.mobile-menu {
  display: none;
  color: #000000;
}

.mobile-menu-container {
  border: none;
  background: transparent;
}

.heading-container {
  width: 75%;
  margin: 150px auto 100px auto;
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
  color: white;
}

.heading-container > h1 {
  font-size: 72px;
}

.tagline {
  font-size: 28px;
  margin-bottom: 50px;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.homepage-icon {
  font-size: 30px;
  color: #333;
}

.heading-container {
  padding: 20px 0;
  border-radius: 5px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.welcome-container,
.search-container,
.user-container {
  width: 30%;
  min-width: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0;
  border-radius: 10px;
}

.icon-heading-container {
  padding: 20px 0;
}

.card-title {
  margin-top: 10px;
}

.card-text {
  padding: 15px;
}

/* MAIN PAGE */

.main-form-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
  max-width: 1200px;
  margin: 0 auto;
}

.btn-container {
  display: inline;
}

.main-submit-btn-container {
  margin-bottom: 25px;
}

.main-submit-btn {
  padding: 15px;
  border: none;
  font-size: 26px;
  border-radius: 50px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-submit-btn:hover,
.create-btn:hover {
  color: #ffffff;
  background-color: #0e1111;
}

.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.main-heading-container {
  margin-top: 75px;
  /* position: relative; */
}

.main-heading {
  font-family: 'Merriweather', serif;
}

.main-details-btn {
  background: #333;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50px;
}

.gem-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Montserrat', sans-serif;
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.gem-info-container {
  margin-bottom: 25px;
  margin-top: 25px;
}

.gem-img {
  width: 250px;
  height: 250px !important;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gem-img:hover {
  transform: scale(1.1);
}

.search-input-container {
  position: relative;
}

.search-input {
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #000000;
}

.search-icon {
  position: absolute;
  top: 65%;
}

.search-btn {
  margin-bottom: 25px;
  background: #333;
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  border: none;
}

.heart-heading-flex {
  display: flex;
  width: 250px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.heart-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  cursor: pointer;
  font-size: 18px;
}

.heart-icon.active {
  color: #ff0000;
}

.pop-up {
  max-width: 500px;
  width: 100%;
  height: 65%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  border-radius: 5px;
  transition: all 0.75s;
  animation: drop 0.7s ease forwards;
  background: white;
  border: 5px solid #ff385c;
}

@keyframes drop {
  0% {
    transform: translateY(50px);
  }
}

.pop-up-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  display: none;
}

.pop-up-heading {
  padding-top: 25px;
}

.pop-up-label-container {
  margin-bottom: 25px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0px;
  display: none;
}

.overlay.active {
  display: block;
}

.label {
  display: block;
}

/* Gems Details page */

#gem-details-img {
  margin-top: 10px;
  border-radius: initial;
  cursor: none;
  transition: none !important;
  width: 250px;
  height: 250px !important;
  object-fit: cover;
}

.gem-details-container {
  text-align: center;
  border: 1px solid black;
  width: 270px;
  margin: 150px auto;
  /* border-top-right-radius: 0; */
  border-radius: 5px;
}

/* Gems Page */

.error {
  display: block;
  font-size: 26px;
  color: #ff385c;
}

.gem-description {
  font-size: 18px;
  color: grey;
  font-weight: 400;
}

.create-gem-heading {
  margin-top: 150px;
  font-family: 'Merriweather', serif;
}

.gems-searched {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

.gems-searched-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Create Gems Page */

.create-local-gem-heading {
  font-family: 'Merriweather', serif;
}

.create-form-container {
  margin: 75px auto;
  display: flex;
  justify-content: center;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
}

.create-form {
  font-size: 22px;
  font-weight: bold;
}

.create-input {
  margin-bottom: 25px;
}

.create-img-input {
  width: 249px;
  font-size: 20px;
}

.create-btn {
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Profile */

.profile-form {
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
  max-width: 1200px;
  margin: 0 auto;
}

.profile-upload {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  font-family: 'Montserrat', sans-serif;
}

.profile-img {
  width: 250px;
  height: 250px !important;
  object-fit: cover;
  border-radius: 5px;
}

.user-profile-container {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.upload-img-container,
.about-me-container {
  display: flex;
  flex-direction: column;
}

.profile-gem-img {
  width: 250px;
  height: 250px !important;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.profile-upload-btn {
  padding: 15px;
  border: none;
  font-size: 26px;
  border-radius: 50px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
  margin-bottom: 50px;
}

.custom-file-input {
  width: 125px;
  margin: 0 auto;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose file';
  color: #ffffff;
  display: inline-block;
  background: #333;
  border-radius: 5px;
  padding: 5px 8px;
  white-space: nowrap;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
textarea {
  border-radius: 5px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.about-me-heading {
  font-size: 16px;
  font-weight: initial;
}

.confirm-btn {
  width: 125px;
  white-space: nowrap;
  margin: 0 auto;
  background: #333;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
}

/* login forms page */

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input,
.signup-input {
  display: block;
}

.login-btn {
  width: 200px;
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
}

/* signup-page */

.signup-bg {
  background: linear-gradient(to bottom, #ff6a7d, #ff9440);
  border-radius: 5px;
}

.white-bg-container {
  border-radius: 5px;
  width: 350px;
  height: 450px;
  margin: 100px auto;
  background: white;
  text-align: center;
}

footer {
  margin-top: 50px;
}

footer a {
  color: #ff6a7d;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .logo {
    width: 50px;
  }

  .nav-ul {
    display: none;
    top: 0;
    z-index: 0;
    width: 100%;
  }

  .nav-ul.active {
    display: block;
    z-index: -5;
    background: #ff385c;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    margin-top: 0;
    padding-top: 75px;
    right: 0;
    line-height: 2;
  }

  .nav-ul a.active {
    background: initial;
    box-shadow: none;
    border-radius: initial;
  }

  .local-gems-link {
    display: block;
  }

  .heading-container {
    margin-top: 75px;
  }

  .main-form-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .main-input {
    width: 250px;
    margin: 0 auto 25px auto;
    font-size: 18px;
  }

  .gradient-container {
    margin-top: 75px;
  }

  .search-input-container.active {
    display: none;
  }

  .pop-up-close {
    width: 25px;
    height: 25px;
    font-size: 22px;
  }

  .gem-container {
    grid-template-columns: 1fr;
  }

  .search-icon {
    font-size: 16px;
    right: 5%;
  }

  .buttons-container {
    width: 20%;
    position: fixed;
    right: 0;
    left: 0;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    font-size: 25px;
    top: 10px;
    left: 450%;
    padding-right: 10px;
    right: 0px;
  }

  .mobile-bar.active {
    display: none;
  }

  .mobile-close {
    display: none;
  }

  .mobile-close.active {
    display: block;
  }

  .profile-upload {
    grid-template-columns: 1fr;
  }

  .create-local-gem-heading {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .create-form-container {
    margin: auto;
    width: auto;
  }
  .user-profile-container {
    flex-direction: column;
    align-items: center;
  }
  .upload-img-container {
    align-items: center;
  }

  .profile-upload-container {
    margin-top: 75px;
  }

  textarea {
    margin-top: 25px;
  }
}

@media (min-width: 600px) {
  .main-form-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .main-input {
    width: 250px;
    margin: 0 auto 25px auto;
    font-size: 18px;
  }

  .search-icon {
    font-size: 16px;
    right: 5%;
  }
}

@media (min-width: 1023px) {
  .main-form-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .main-input {
    height: 75px;
    border-radius: 50px;
    width: 1000px;
    margin-bottom: 25px;
    font-size: 20px;
  }
}
